<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
<title>Students</title>

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-secondary bg-secondary">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="/home">ClassWeb Beta</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	
	    <div class="collapse navbar-collapse" id="navbarColor02">
	      <ul class="navbar-nav me-auto">
	        <li class="nav-item">
	          <a class="nav-link active" href="/home">Home
	          </a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/courses">Courses</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/about">About</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
	
	
	<div class="container mt-5 mb-2">
		<div>
		<h1 class="display-4 text-uppercase" style="font-family: 'Verdana'; text-align: center">Students</h1>
        <hr class="style1 mb-5">
        <!-- Button to Open the Modal -->
		<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addStudentModal"><img src="https://i.ibb.co/j43pLX3/black-plus-icon-24.png" width="15" /> New Student</button>
        
			<table style="background-color:#484444" class="table table-hover mt-5">
			  <thead>
			    <tr>
			      <th scope="col">AM</th>
			      <th scope="col">Name</th>
			      <th scope="col">Email</th>
			      <th scope="col">Year of Registration</th>
			      <th scope="col">Year of Studies</th>
			      <th scope="col">Syllabus</th>
			      <th scope="col">Semester</th>
			      <th scope="col">Project Grade</th>
			      <th scope="col">Exam Grade</th>
				  <th scope="col">Final Grade</th>
			      <th scope="col">Actions</th>
			    </tr>
			  </thead>
			   	<tr th:each="student : ${students}">
            		<td th:text="${student.studentid}"></td>
            		<td th:text="${student.fullname}"></td>
            		<td th:text="${student.email}"></td>
            		<td th:text="${student.yearOfRegistration}"></td>
            		<td th:text="${student.yearOfStudies}"></td>
            		<td th:text="${student.syllabus}"></td>
            		<td th:text="${student.semester}"></td>
            		<td th:text="${student.projectGrade}"></td>
            		<td th:text="${student.examGrade}"></td>
					<td th:text="${student.finalGrade}"></td>
            		<td>
            			<button data-bs-toggle="modal" th:attr="data-bs-target=${'#editModal' + student.studentid}" data-row="${student}" class="btn btn-sm btn-success"><img src="https://i.ibb.co/YcxKhdh/pencil-removebg-preview.png" width="20" /></button>

            			<button class="btn btn-sm btn-danger"><img src="https://freesvg.org/img/trash.png" width="20" /></button>
            			
            		</td>
        		</tr>
		</table>
		</div>
	</div>


<!-- The Add Student Modal -->
<div class="modal" id="addStudentModal">
	<form th:action="@{/students/addStudent}" method="post">
	  	<div class="modal-dialog">
	    	<div class="modal-content" style="background-color:#383434">
	
	      <!-- Modal Header -->
			      <div class="modal-header">
			        <h4 class="modal-title">Add Student</h4>
			        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			      </div>
			
			      <!-- Modal body -->
			      <div class="modal-body" style="background-color:#383434">
			       	
			       		<label for="input" class="col-form-label">AM</label>
			       		<input style="background-color:#CDCDCD" type="text" class="form-control" id="input" name="studentid">
			       	
			       		<label for="input" class="col-form-label">Full Name</label>
			       		<input style="background-color:#CDCDCD" type="text" class="form-control" id="input" name="fullname">  	
			       	
			       		<label for="input" class="col-form-label">Email</label>
			       		<input style="background-color:#CDCDCD" type="text" class="form-control" id="input" name="email">
			      
			       		<label for="input" class="col-form-label">Year of Registration</label>
			       		<input style="background-color:#CDCDCD" type="text" class="form-control" id="input" name="yearOfRegistration">
				
			       		<label for="input" class="col-form-label">Project Grade</label>
			       		<input style="background-color:#CDCDCD" type="text" class="form-control" id="input" name="projectGrade">
		       	
			       		<label for="input" class="col-form-label">Exam Grade</label>
			       		<input style="background-color:#CDCDCD" type="text" class="form-control" id="input" name="examGrade">   
			      </div>
			       	
			
			      <!-- Modal footer -->
			      <div class="modal-footer">
			         <button type="submit" class="btn btn-success">Save</button>
					 <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
			      </div>
		
		    </div>
			</div>
	</form>
</div>


<!-- The Modal Delete-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content" style="background-color:#383434">
		     <div class="modal-header">
		        <h5 class="modal-title"></h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
		        	<span aria-hidden="treu">&times;</span>
		        </button>
		     </div>
		     <div class="modal-body">
		     	<p class="alert alert-danger">
		     		Are you sure you want to delete this student?
		     	</p>
		     </div>
		     <div class="modal-footer">
				 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
		     	 <a href="" class="btn btn-danger" id="delRef">Yes, Delete</a>
		      </div>
	
	    </div>
		</div>
</div>

<!-- The Update Student Modal -->
<div th:each="student : ${students}" th:attr="id=${'editModal' + student.studentid}" class="modal" role="dialog">
	<form th:action="@{/students/updateStudent/(studentid=${student.studentid})}" method="post">
	  <div class="modal-dialog">
		  <div class="modal-content" style="background-color:#383434">
				<div class="modal-header">
				  <h4 class="modal-title" id="editModal">Update Student</h4>
				  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
		  
				<!-- Modal body -->
				<div class="modal-body" style="background-color:#383434">
				 
				  
					  <label for="studentid" class="col-form-label">AM</label>
					  <input style="background-color:#CDCDCD" type="text" class="form-control" id="studentid" name="studentid" th:attr="value=${student.studentid}"/>
				  
					  <label for="fullname" class="col-form-label">Full Name</label>
					  <input style="background-color:#CDCDCD" type="text" class="form-control" id="fullname" name="fullname" th:attr="value=${student.fullname}" />      
				  
					  <label for="email" class="col-form-label">Email</label>
					  <input style="background-color:#CDCDCD" type="text" class="form-control" id="email" name="email" th:attr="value=${student.email}" />
				
					  <label for="yearOfRegistration" class="col-form-label">Year of Registration</label>
					  <input style="background-color:#CDCDCD" type="text" class="form-control" id="yearOfRegistration" name="yearOfRegistration" th:attr="value=${student.yearOfRegistration}" />
  
					  <label for="projectGrade" class="col-form-label">Project Grade</label>
					  <input style="background-color:#CDCDCD" type="text" class="form-control" id="projectGrade" name="projectGrade" th:attr="value=${student.projectGrade}" />
			  
					  <label for="examGrade" class="col-form-label">Exam Grade</label>
					  <input style="background-color:#CDCDCD" type="text" class="form-control" id="examGrade" name="examGrade" th:attr="value=${student.examGrade}" />
							 
				</div>
		 
				<div class="modal-footer">
				   <button type="submit" class="btn btn-success">Update</button>
				   <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
				</div>
		    </div>
		</div>
	</form>    
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

</body>
</html>